body {
  font-family: "Open Sans";
  text-align: center;
}

.guess-header {
  padding: 2rem;
  font-size: 3rem;
  display: inline-flex;
  background-color: #404041;
  width: 100%;
  justify-content: center;
}
.range-container {
  margin-top: 50px;
}

form {
  display: inline-block;
}
/* .alert-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
} */

#enterGuess {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#minRange {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#maxRange {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#number-header {
  color: #ED458B;
  font-weight: 700;
  margin-right: 10px;
}

#guesser-header {
  color: #E6E7E8;
  font-weight: 300;
}

#submitButton {
  background-color: #929497;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}

#submitButton:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}



#clearButton {
  background-color: #929497;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}

#clearButton:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}

#resetButton {
  display: none;
  background-color: #929497;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}
#resetButton:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}

#resetButton:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}

#submitRangeButton {
  background-color: #929497;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}
#submitRangeButton:hover {
  background-color: #EB008B;
  color: #FFFFFF;
  margin: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  border-radius: 20px;
}
